.form {
	&-input {
		display: block;
		padding: 13px 30px;
		width: 100%;
		height: 50px;
		font-family: $mainFont;
		font-size: 18px;
		color: $dark-color;
		border: none;
		border-radius: 20px;
		background-color: #f5f5f5;
		&--white-bg {
			background-color: #fff;
		}
		@include shift();
		&:focus {
			box-shadow: 0px 0px 0px 2px #5D71DD;
		}
		&::placeholder {
			color: $text-color;
		}
	}
	&-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50px;
		font-family: $mainFont;
		font-size: 18px;
		color: #fff;
		border:none;
		border-radius: 20px;
		background-color: $aÑcent-color;
		cursor: pointer;
		@include shift();
		&:focus {
			box-shadow: 0px 0px 0px 2px #2F2222;
		}
		&:hover {
			background-color: #6C7DD8;
		}
		& > * {
		&:not(:last-child) { margin-right: 19px; }
		}
		svg {
			width: 20px;
			height: 19px;
		}
	}
	&-area {
		width: 100%;
		height: 81px;
		padding: 13px 30px;
		font-family: $mainFont;
		font-size: 18px;
		line-height: 23px;
		color: $dark-color;
		background-color: #f5f5f5;
		border: none;
		border-radius: 20px;
		outline: none;
		@include shift();
		&:focus {
			box-shadow: 0px 0px 0px 2px #5D71DD;
		}
		&::placeholder {
			color: $text-color;
		}
	}
}