.sub-form {
	padding-left: 30px;
	padding-right: 30px;
	& > * {
	&:not(:last-child) { margin-bottom: 20px; }
	}
	&__input {
		display: block;
		padding: 13px 30px;
		width: 100%;
		height: 50px;
		font-family: $mainFont;
		font-size: 18px;
		color: $text-color;
		border: none;
		border-radius: 20px;
		background-color: #f5f5f5;
		&:focus {
			box-shadow: 0px 0px 0px 2px #5D71DD;
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50px;
		font-family: $mainFont;
		font-size: 18px;
		color: #fff;
		border:none;
		border-radius: 20px;
		background-color: $aÑcent-color;
		cursor: pointer;
		@include shift();
		&:focus {
			box-shadow: 0px 0px 0px 2px #2F2222;
		}
		&:hover {
			background-color: #6C7DD8;
		}
		& > * {
		&:not(:last-child) { margin-right: 19px; }
		}
		svg {
			width: 20px;
			height: 19px;
		}
	}
}