footer.footer
	.container.footer__container
		a.logo.footer__logo(href="index.html")
			img(src="static/img/svg/logo.svg", alt="Логотип Блога")
		nav.nav.footer__nav
			ul.nav__list
				li.nav__item
					a.nav__link(href="#") О нас
				li.nav__item
					a.nav__link(href="#") Галерея
				li.nav__item
					a.nav__link(href="#") Новости
				li.nav__item
					a.nav__link(href="#") Контакты
		small.footer__copy ООО “Организация” 2020. Все права защищены