.posts
	article.blog-post.blog-post--main
		a.blog-post__category(href="") Категория 1
		h3.blog-post__title.blog__title 
			a(href="#").blog-post__link Управление ИТ-активами – скучная рутина или творческая задача?
		p.blog-post__descr Размышляя об управлении ИТ-активами, я вспомнил один учебный пример. Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще.
		time.blog-post__date 13 дек 2020
	ul.post-grid
		li.post-grid__item
			article.blog-post
				a.blog-post__category(href="#") Категория 1
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link Управление ИТ-активами – скучная рутина или творческая задача?
				p.blog-post__descr Размышляя об управлении ИТ-активами, я вспомнил один учебный пример. Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще.
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post
				a.blog-post__category(href="#") Категория 1
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link ITAM&SAMDay – самая настоящая удача!
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post(style="background-image: url('static/img/blog-post1.jpg');")
				a.blog-post__category(href="#") Очень длинная категория 2
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link Управление ИТ-активами – скучная рутина или творческая задача?
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post
				a.blog-post__category(href="#") Категория 1
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link Управление ИТ-активами – скучная рутина или творческая задача слово слово и еще длинное слово после чего ...
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post
				a.blog-post__category(href="#") Категория 1
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link ITAM&SAMDay – самая настоящая удача!
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post
				a.blog-post__category(href="#") Категория 1
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link Управление ИТ-активами – скучная рутина или творческая задача?
				p.blog-post__descr Размышляя об управлении ИТ-активами, я вспомнил один учебный пример. Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще.
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post
				a.blog-post__category(href="#") Очень длинная категория 2
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link ITAM&SAMDay – самая настоящая удача!
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post(style="background-image: url('static/img/blog-post2.jpg');")
				a.blog-post__category(href="#") Категория 1
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link Управление ИТ-активами – скучная рутина или творческая задача?
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post
				a.blog-post__category(href="#") Категория 1
				h3.blog-post__title.blog__title 
					a(href="#").blog-post__link Управление ИТ-активами – скучная рутина или творческая задача слово слово и еще длинное слово после чего ...
				time.blog-post__date 13 дек 2020
		li.post-grid__item
			article.blog-post
				a.blog-post__category(href="#") Категория 1
				h3.blog-post__title.blog__title
					a(href="#").blog-post__link ITAM&SAMDay – самая настоящая удача!
				time.blog-post__date 13 дек 2020
	include ../pagination/pagination