extends ../main-layout

block variables
	- var title = 'Категория'
	- var pageClass = 'category-page'

block content
	main.main
		include ../modules/banner/category-banner
		include ../modules/content/content