extends ../main-layout

block variables
	- var title = 'Контакты'
	- var pageClass = 'contacts-page'

block content
	include ../modules/header/header
	main.main
		include ../modules/contacts/contact
	include ../modules/footer/footer