extends ../main-layout

block variables
	- var title = 'Пост'
	- var pageClass = 'post-page'

block content
	include ../modules/header/header
	main.main.main--post
		include ../modules/banner/post-banner
		include ../modules/content/post-content
	include ../modules/footer/footer