// ЦВЕТА

$text-color: rgba(47, 34, 34, 0.4);
$aсcent-color: #5D71DD;
$dark-color: #2F2222;


$main-bg: #E5E5E5;


// РАЗМЕРЫ
$baseFontSize: 18px;
$contentSize: 1430px; 


// ШРИФТЫ
$mainFont: "FuturaPTBook", Arial, sans-serif;
$mediumFont: "FuturaPTMedium", Arial, sans-serif;