// ЦВЕТА

$text-color: rgba(47, 34, 34, 0.4);
$aсcent-color: #5D71DD;
$dark-color: #2F2222;


$main-bg: #f9f9f9;
$accent-bg: rgba(93, 113, 221, 0.05);


// РАЗМЕРЫ
$baseFontSize: 18px;
$contentSize: 1430px; 
$grid-gap: 40px;


// ШРИФТЫ
$mainFont: "FuturaPT", Arial, sans-serif;
// $mediumFont: "FuturaPTMedium", Arial, sans-serif;