header.header
	.container.header__container
		a.logo.header__logo(href="index.html")
			img(src="static/img/svg/logo.svg", alt="Логотип Блога")
		.header-right
			nav.nav.header__nav
				ul.nav__list
					li.nav__item
						a.nav__link.nav__link--current(href="#") Главная
					li.nav__item
						a.nav__link(href="#") О нас
					li.nav__item
						a.nav__link(href="#") Контакты
					li.nav__item
						a.nav__link(href="#") Поиск
			a.phone.header__phone(href="tel:+798788787") +7 (987) 887-87
		


