.s-post-content {
  padding-bottom: 100px;
}
.post-content {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $grid-gap;
    @include mw767() {
      display: block;
    }
  }
}
.post-wrapper {
  grid-column: 3 span;
  @include mw767() {
    margin-bottom: 60px;
  }
}
.post {
  max-width: 800px;
  padding-bottom: 60px;
  &__meta {
    margin-bottom: 30px;
    & > * {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #000;
  }
  &__category {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 21px;
    color: $aсcent-color;
    border-radius: 8px;
    background-color: #f7f8fd;
    @include shift();
    &:hover {
      background: rgba(93, 113, 221, 0.15);
    }
  }
  &__date {
    font-size: 16px;
    line-height: 21px;
  }
  & p {
    margin-bottom: 20px;
    line-height: 23px;
    color: #000;
  }
  &__img {
    display: inline-block;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}
