.main {
  &--post {
    background-color: #fff;
  }
}
.phone {
  padding-left: 24px;
  font-weight: 500;
  color: $aсcent-color;
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.address {
	padding-left: 24px;
	font-weight: 400;
	font-style: normal;
  color: $aсcent-color;
  background-image: url("../img/svg/marker.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.s-banner {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
	&-category {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.banner-category__title {
	padding: 71px 0;
	font-weight: 500;
	font-size: 30px;
	line-height: 38px;
	color: $aсcent-color;
}
.banner-post {
  padding: $grid-gap 0;
  &__container {
    padding: 0;
    max-width: 1400px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.s-content {
  padding-top: $grid-gap;
  padding-bottom: 100px;
}
.content {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $grid-gap;
  }
}
.subscribe {
  text-align: center;
  padding: 40px 0 50px;
  border-radius: 20px;
  background-color: #fff;
}
.subscribe__title {
  margin-bottom: 30px;
}
.social {
	display: flex;
	& > * {
	&:not(:last-child) { margin-right: 20px; }
	}
	&__link {
		display: block;
		@include size(40px);
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		&--fb {
			background-image: url('../img/svg/fb.svg');
		}
		&--vk {
			background-image: url('../img/svg/vk.svg');
		}
		&--insta {
			background-image: url('../img/svg/insta.svg');
		}
		&--tw {
			background-image: url('../img/svg/tw.svg');
		}
	}
}
